<html>
    <head>
            <title >
                ClickForServe
            </title> 
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="../style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
            <link href="css\font-awesome.min.css" rel="stylesheet">
            <link href="css\prettyPhoto.css" rel="stylesheet">
            <link href="css\price-range.css" rel="stylesheet">
            <link href="css\animate.css" rel="stylesheet">
            <link href="css\main.css" rel="stylesheet">
            <link href="css\responsive.css" rel="stylesheet">

            
            <style>
              .left-side {
                            min-height: 90vh;
                            background:  url(images/home/tenthouse.jpg)  ;
                            background-size: cover;
                        }
              .navbar-custom{
                            background-color:teal;
                            position:relative;
              }
			  .myFont{
						font-family: "Helvetica";
    					font-weight: bold;
						color: #fff;
			  }
			  .navbar-default .navbar-nav>li>a {
    				color: #fcf8e3;
			  }
			  .navbar-default .navbar-brand {
                    color: #fcf8e3;
              }

            </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar white"></span>
                              <span class="icon-bar white"></span>
                              <span class="icon-bar white"></span>
                            </button>
                            <a  href="/" class="navbar-brand myFont"><i class="fas fa-building"></i> ClickForServe</a>
                </div>
                <div class="collapse navbar-collapse myFont" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a  href="/" class=""><i class="fas fa-home"></i> Home</a></li>
                        <li><a  href="/services" class=""><i class="fas fa-search"></i> Services</a></li>
                        <% if(!currentUser){ %>
                            <li><a  href="/login" class=""><i class="fas fa-sign-in-alt"></i> Login</a></li>
                            <li><a  href="/signUp" class=""><i class="fas fa-external-link-alt"></i> SignUp</a></li>
                        <% }else{ %>
                            <li><a  href="#" class="">Logged In as : <i class="fas fa-user-circle"></i> <%= currentUser.username %></a></li>
                            <% if(currentUser.type == "O"){ %>
                                <li><a  href="/owner" class=""><i class="fas fa-user"></i> Owner Profile</a></li>
                                <% }else{ %>
                                    <li><a  href="#" class=""><i class="fas fa-user"></i> Profile</a></li>
                                <% } %>
                            <li><a  href="/logout" class=""><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        <% } %>
                        
                       
                    </ul>
                </div>
            </div>
        </nav>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/css2/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css2/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/css2/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css2/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css2/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css2/css/main.css">
<!--===============================================================================================-->
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/css2/images/img-01.png" alt="IMG">
				</div>

				<form action="/owner/<%= owner._id %>/edit?_method=PUT" method="POST" class="login100-form validate-form">
					<span class="login100-form-title">
            Update<%= owner.name%> Info
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Must Be Filled">
						<input class="input100" type="text" name="name" placeholder="First Name" value="<%= owner.name %>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
						</span>
                    </div>

    

                    <div class="wrap-input100 validate-input" data-validate = "Must Be Filled">
						<input class="input100" type="text" name="location" placeholder="Location" value="<%= owner.location %>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
						</span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Must Be Filled">
						<input class="input100" type="text" name="servtype" placeholder="Service Name" value="<%= owner.servname %>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
						</span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Contact number is required">
						<input class="input100" type="number" name="number" placeholder="(+91)" value="<%= owner.phno %>">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
<!--===============================================================================================-->	
	<script src="/css2/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/css2/vendor/bootstrap/js/popper.js"></script>
	<script src="/css2/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/css2/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/css2/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/css2/js/main.js"></script>

</body>
